.home {
    text-align: center;
    padding: 20px;
    max-width: 100%;

}

.home ul {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.home li {
    margin: 10px 20px;
    font-size: large;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.home a {
    text-decoration: none;
    color: #2b00ff;
    font-weight: 700;
}

.home a:hover {
    text-decoration: underline;
    color: #7fff00;
    transition: 500ms;


}

a:hover {
    color: #00ff2f;
}